@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

* {
	margin: 0%;
	padding: 0%;
	text-decoration: none;
}

html,
body {
	width: 100%;
	height: 100%;
	background-image: url('../images/the-ocean.jpg');
	background-size: cover;
}
img {
	width: 100%;
	margin-bottom: -4px;
}
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: 'Lexend', Arial, Helvetica, sans-serif;
}

/* NAVIGATION STYLES */

.gameLogo {
	color: white;
	font-size: 40px;
	line-height: 80px;
	padding: 0 30px;
	font-weight: bold;
	text-shadow: 2px 2px 4px #11fef0;
}

nav {
	display: grid;
	grid-template-columns: 5fr 8fr 1fr;
	height: 100%;
	background-color: #2f2727;
}

.top-items {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav ul li {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul li a {
	color: white;
	padding: 0.7em 1em;
	border: 0.2em solid black;
	transition: all 0.5s;
	box-shadow: 1px 1px 8px whitesmoke;
	font-size: 92%;
}

.top-items li a:hover {
	background-color: aqua;
	color: black;
	font-weight: bolder;
}

.News {
	box-shadow: 1px 1px 8px #17ee86;
	-webkit-text-stroke: 0.3px #17ee86;
}

#News:hover {
	-webkit-text-stroke: 0.1px #9451f3;
}

.Hot {
	box-shadow: 1px 1px 8px #db0d0d;
	-webkit-text-stroke: 0.3px #db0d0d;
}

.Leader-Board {
	box-shadow: 1px 1px 8px #f662e7;
	-webkit-text-stroke: 0.3px #f662e7;
}

nav section {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 30px;
	margin-right: 15px;
	color: white;
	text-shadow: 1px 1px 10px yellow;
}

nav section a {
	color: #f662e7;
	border: 1px solid white;
	padding: 0 3%;
	background-color: black;
	transition: all 0.5s;
}

nav section a:hover {
	background-color: #8e1d98;
	color: white;
}

/* Main Content */
main {
	width: 100%;
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(85, 231, 222, 0.8);
	border: 2px solid black;
	border-top: 0;
	border-bottom: 0;
}

.leaderboardTitle {
	height: 117px;
	width: 443px;
	position: absolute;
	margin: auto;
	background-color: white;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	border: 4px solid #000000;
	background-color: #ef85f9;
	-webkit-text-stroke: 2px #000000;
	font-size: 45px;
	box-shadow: 1px 1px 10px black;
}
.leaderboardBox {
	height: 1030px;
	width: 963px;
	position: relative;
	margin: 10% 200px;
	background-color: #e58cb6;
	padding: 5px;
	border-radius: 40px;
	border: 8px solid #bdff00;
	box-shadow: 1px 2px 10px black;
}

.friends {
	width: 110px;
	height: 250px;
	background-color: #74c08c;
	border: 3px solid black;
	position: absolute;
	border-radius: 28px;
	left: -55px;
	top: 120px;
	-webkit-text-stroke: 2px #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	transition: 0.5s;
	box-shadow: 1px 1px 5px black;
}
.friends a {
	color: black;
	position: absolute;
	transform: rotate(-90deg);
}

.global {
	width: 110px;
	height: 250px;
	background-color: #e58cb6;
	border: 3px solid yellow;
	position: absolute;
	border-radius: 28px;
	left: -55px;
	top: 400px;
	-webkit-text-stroke: 2px #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	transition: 0.5s;
	box-shadow: 1px 1px 5px yellow;
}

.global a {
	color: black;
	transform: rotate(-90deg);
}

.friends:hover {
	background-color: orange;
}

.global:hover {
	background-color: #cf6868;
}

.leaderboard-items {
	width: 550px;
	height: 50px;
	background-color: #e58cb6;
	position: relative;
	margin: auto;
	top: 120px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	font-size: 24px;
	text-align: center;
}

#rank {
	font-weight: bold;
	color: #29d46d;
	text-shadow: 1px 1px 1px black;
}
#name {
	font-weight: bold;
	color: #11fef0;
	text-shadow: 1px 1.5px 1px black;
}
#level {
	font-weight: bold;
	color: #dfff18;
	text-shadow: 1px 1px 1px black;
}
#scores {
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
}

.topPlayerBox {
	width: 795px;
	height: 838px;
	background-color: #b85087;
	position: relative;
	margin: auto;
	top: 110px;
	border-radius: 40px;
	border: 3px solid yellow;
}

#row img {
	height: 45px;
	width: auto;
}

#row {
	width: 750px;
	height: 50px;
	background-color: #e58cb6;
	position: relative;
	margin: 12px auto;
	top: 5px;
	border-radius: 50px;
	border: 3px solid rgb(255, 208, 0);
}
#row > div {
	display: grid;
	grid-template-columns: 0.5fr 0.7fr 0.9fr 0.5fr 1fr;
	height: 50px;
	width: 686px;
	text-align: center;
	vertical-align: middle;
}
#row > div * {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.1em;
}
/* Footer content */
footer {
	background-color: #2f2727;
	border-top: 5px solid #e05454;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

footer div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Thanks {
	color: white;
	border: 2px solid white;
	padding: 10px 60px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.Coppyright {
	color: white;
	margin-bottom: 20px;
}

.footer-contact {
	background-color: black;
	border-top: 1px solid white;
}

.footer-contact ul {
	display: flex;
	flex-direction: row;
	margin: 20px;
}

.footer-contact ul li a {
	margin-left: 22px;
	margin-right: 22px;
	color: white;
}
